.navigation{
  display: flex;
  margin: 0 20px;
  background-color: dimgray;
  border-radius: 3px;
}
body{
  background-color: rgb(142, 152, 129);
}
.logo {
  display: flex;
  flex-grow: 1;
}

.filters{
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.filter{
  display: flex;
  flex-direction: column;
}